#index-banner .card-image{
	max-height:200px;
	overflow:hidden;
}
#index-banner .btn-floating.btn-large{
	width:26px;
	height:26px;
	line-height:24px;
	
}
#index-banner .btn-floating.btn-large i{
	line-height: 26px;
    font-size: 19px;
}
#index-banner .button_next_prev{
	position:absolute;
	bottom: 12px;
    right: 12px;
}